<% @title="Posted jobs" %>


<div class="container light-bkg">
  <% if @jobs.empty? %>
    <h2>No Jobs right now.</h2>
    <h2>Add a Job to get booked!</h2>
  <% else %>
  <h2>My jobs</h2>

    <% @jobs.each do |job| %>
      <div class="item">
        <%= cl_image_tag job.photo, height: 100, width: 150, crop: :fill, class:"job-thumbnail" %>
        <div class="item-name text-left">
          <h4><strong>Posted on:</strong></h4>
          <p><%= job.created_at.to_formatted_s(:short)  %></p>
          <h4><strong>Happening on:</strong></h4>
          <p>(<%= job.date %>)</p>
            </div>
        <div class="item-body">
          <h3><strong><%= link_to job.title.upcase, job_path(job) %></strong></h3>
          <p><strong>Location: </strong><%= job.location %></p>
        </div>
        <div class="item-status">
          <p class="price">€<%= job.price %></p>
        </div>
        <div class="item-action">
          <%= link_to edit_job_path(job) do %>
            <div class="btn btn-success button-width btn-margin">
              Edit
            </div>
          <% end %>
          <%= link_to job_path(job), method: :delete, data: {confirm: "Are you sure?"} do %>
            <div class="btn btn-danger button-width btn-margin">
              Delete
            </div>
          <% end %>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
