
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= form_tag(jobs_path, method: :get) do %>
        <div class="form-inline flex-form searchbox" style="margin-top: 5vh;">
          <%= text_field_tag :query, params[:query], placeholder: params[:query], class:"form-control input-field flex-stretch" %>
          <%= select_tag :category, options_for_select([["select category", ""],
            ["arts & design", "arts & design"],
            ["business & finance", "business & finance"],
            ["politics", "politics"],
            ["academia", "academia"],
            ["science", "science"],
            ["sports & events","sports & events"],
            ["services","services"],
            ["gastronomy", "gastronomy"],
            ["entertainment","entertainment"],
            [ "transportation","transportation"],
            [ "healthcare", "healthcare"]
            ]), class: "form-control input-field" %>
          <%= submit_tag 'Search', name: nil, class:"btn btn-primary search-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="main-container-index">
  <div class="card-container">
    <div class="row">
      <div class="text-left" style="color: grey;">
        <h1 style="font-size: 30px">Your Search Results (<%= @jobs.uniq.count %>)</h1>
      </div>
      <% @jobs.uniq.each do |job| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card">
            <%= link_to job_path(job) do %>
              <% url = job.photo.nil? ? image_path('http://via.placeholder.com/250x350', width: 400, height: 250, crop: :fill) : cl_image_path(job.photo, width: 400, height: 250, crop: :fill) %>
              <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>')"></div>
              <div class="card-footer">
                <div class="card-description" style=" color:black;">
                 <h2 style="padding-left: 6px;"> <%= job.title %></h2>
                  <table>
                    <tr>
                      <td> <p> <i class="fas fa-briefcase"></i> </p> </td>
                      <td> <p> <%= job[:category] %> </p> </td>
                    </tr>
                    <tr>
                      <td> <p> <i class="fas fa-map-marker-alt"></i> </p> </td>
                      <td> <p> <%= job[:location] %> </p> </td>
                    </tr>
                    <tr>
                      <td> <p> <i class="fab fa-bitcoin"></i> </p> </td>
                      <td> <p> <%= job[:price] %> </p> </td>
                    </tr>
                    <tr>
                      <td> <p> <i class="fas fa-calendar-alt"></i> </p> </td>
                      <td> <p> <%= job[:date] %> </p> </td>
                    </tr>
                  </table>
                </div>

              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>
