<% @title="Details" %>
<% url = @job.photo.blank? ? image_path('http://via.placeholder.com/500x920', height: 500, width: 920) : cl_image_path(@job.photo, height: 500, width: 920, crop: :fit) %>
<div class="banner" id="job-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>');">
  <div class="container vhheight">
    <div class="relative">
      <a href="#book">
      <div class="btn btn-lg btn-danger booking-call hidden-xs hidden-sm"> BOOK NOW</div></a>
      <div class="headbox headbox-job-title">
        <h1><%= @job.title %></h1>
      <h3><i class="fas fa-map-marker-alt"></i><%= @job.location %></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="mini-info">
        <div class="col-xs-12 col-md-3">
          <div class="job-owner">
          <%= cl_image_tag @job.user.photo, class: "avatar-large" %>
            <div class="job-owner-name">
              <!-- <p>Posted by:</p> -->
              <p><%= @job.user.first_name %></p>
          </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <p><i class="fas fa-calendar-alt"></i><%= @job.date %></p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p><i class="fas fa-briefcase"></i><%= @job.category %></p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p><i class="fas fa-hands-helping"></i>
            <%= @job.guided? ? "with guide" : "without guide" %>
          </p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p><i class="fab fa-bitcoin"></i><%= @job.price %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="job-description">
        <h3>Details</h3>
        <p><%= @job.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="map" data-markers="<%= @markers.to_json %>" style="height: 300px; margin-top: 0; border-radius: 3px; box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.2);"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="job-book" id="book">
        <h4>Interested?</h4>
            <%= simple_form_for [@job, @booking],  method: :post do |f| %>
            <%= f.input :message, label: "Contact the job owner" %>
            <%= f.hidden_field :status, value: 2 %>
            <%= f.submit "Book the job now!", class: "btn btn-danger btn-job-book" %>
          <% end %>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>
