<div class="container light-bkg">
  <% if @bookings.empty? %>
    <h2>No Bookings right now.</h2>
    <h2>Add a Job to get booked!</h2>
  <% else %>

    <% @bookings.each do |booking|  %>

      <div class="item">
        <%= cl_image_tag booking.job.photo, height: 100, width: 150, crop: :fill, class:"job-thumbnail" %>
        <div class="item-name text-left">
          <h4><strong>Posted by:</strong></h4>
          <p><%= booking.job.user.first_name.nil? ? booking.job.user.email : booking.job.user.first_name  %></p>
          <h4><strong>Happening on:</strong></h4>
          <p>(<%= booking.job.date %>)</p>
            </div>
        <div class="item-body">
          <h3><strong><%= link_to booking.job.title.upcase, job_path(booking.job) %></strong></h3>
          <p><strong>My message: </strong><%= booking.message %></p>
          <p>(requested: <%= booking.created_at.to_formatted_s(:short) %>)</p>
        </div>
        <div class="item-status">
          <% if booking.status == 2 %>
            <p class="status pending">Pending</p>
          <% elsif booking.status == 0 %>
            <p class="status declined">Declined</p>
          <% elsif booking.status == 1 %>
            <p class="status accepted">Accepted</p>
          <% end %>
          <p class="price">€<%= booking.job.price %></p>
        </div>
        <div class="cancel">
          <%= link_to booking_path(booking), method: :delete, data: {confirm: "Are you sure?"} do %>
          <div class="btn btn-warning">
            Cancel
          </div>
          <% end %>
          </div>
      </div>

    <% end %>
  <% end %>
</div>
