<% @title="Book the job!" %>

<div class="container">
  <h2><%= @job.title %></h2>
  <p>(<%= @job.date %>)</p>
  <br>
  <div class="job-book">
    <h4>Interested? Then say something, message can't be blank!</h4>
        <%= simple_form_for [@job, @booking],  method: :post do |f| %>
        <%= f.input :message, label: "Contact the job owner" %>
        <%= f.hidden_field :status, value: 0 %>
        <%= f.submit "Book the job now!", class: "btn btn-danger btn-job-book" %>
      <% end %>
    <div class="spacer">
    </div>
  </div>
</div>
