<% @title="Received requests" %>
<div class="container light-bkg">

<% @bookings.each do |booking|  %>

  <div class="item">
    <%= cl_image_tag booking.job.photo, height: 100, width: 150, crop: :fill, class:"job-thumbnail" %>
    <div class="item-name text-left">
      <h3><strong><%= link_to booking.job.title.upcase, job_path(booking.job) %></strong></h3>
      <h4><strong>Happening on:</strong></h4>
      <p>(<%= booking.job.date %>)</p>
        </div>
    <div class="item-body">
      <div class="message">
        <%= cl_image_tag booking.user.photo, class: "avatar-large" %>
        <div class="message-body">
          <p><strong>Requested by: </strong><%= booking.user.first_name.nil? ? booking.user.email : booking.user.first_name  %></p>
          <p><strong>Message: </strong><%= booking.message %></p>
          <p>(requested: <%= booking.created_at.to_formatted_s(:short) %>)</p>
        </div>
      </div>
    </div>
    <div class="item-status">
      <% if booking.status == 2 %>
        <p class="status pending">Pending</p>
      <% elsif booking.status == 0 %>
        <p class="status declined">Declined</p>
      <% elsif booking.status == 1 %>
        <p class="status accepted">Accepted</p>
      <% end %>
      <p class="price">€<%= booking.job.price %></p>
    </div>
    <div class="item-action">
      <p>
        <% job = booking.job %>
        <%= form_for booking,  method: :patch do |f| %>
          <%= f.hidden_field :status, :value => 1 %>
          <%= f.submit "Approve", class: "btn btn-success button-width" %>
        <% end %>
      </p>
      <p>
       <%= form_for booking, method: :patch do |f| %>
        <%= f.hidden_field :status, :value => 0 %>
        <%= f.submit "Decline", class: "btn btn-danger button-width" %>
      </p>
      <% end %>
    </div>
  </div>

<% end %>
</div>
