<div class="wrapper sub-banner">
  <div class="container">
    <div class="row">
      <div class="whatwedo text-center">
        <h2>Tired of working the same old job?</h2>

      </div>
    </div>
    <div class="spacer"></div>
    <div class="row hidden-xs">
      <div class="col-xs-12 col-md-4 add-info">
        <%= image_tag("connection.svg", width: "30%", alt: "Connection", class: "img-responsive center-block") %>
        <h3 class="text-center">What do we do?</h3>
        <p>We provide you with a user-generated database of available jobs you can try out!<br>
        <br>
        A lot of experiences and opportunities await! You could even list your own job if you don't feel like working a specific date.</p>
      </div>
      <div class="col-xs-12 col-md-4 add-info2">
        <%= image_tag("win.svg", width: "30%", alt: "Win", class: "img-responsive center-block") %>
        <h3 class="text-center">What do you gain?</h3>
        <p>We are opening a door of experiences you've thought to be impossible before!<br>
        <br>
        Wanted to be a soldier? You can be! For a day! Wanna try your hand at governing a country? Well that's possible now, too!</p>
      </div>
      <div class="col-xs-12 col-md-4 add-info3">
        <%= image_tag("balance.svg", width: "30%", alt: "Scale", class: "img-responsive center-block") %>
        <h3 class="text-center">What makes us different?</h3>
        <p>We don't care about qualifications and ramifications!<br>
        <br>
        Do what you want when you wanna do it. Fly a plane full of passengers without going through the hassle of acquiring a license!</p>
      </div>
    </div>
    <!-- mobile -->
    <div class="row hidden-sm hidden-md hidden-lg">
      <div class="col-xs-12 add-info sub-banner">
        <%= image_tag("connection.svg", width: "30%", alt: "Connection", class: "img-responsive center-block") %>
        <h3 class="text-center">What do we do?</h3>
        <p>We provide you with a user-generated database of available jobs you can try out!<br>
        <br>
        A lot of experiences and opportunities await! You could even list your own job if you don't feel like working a specific date.</p>
      </div>
      <div class="col-xs-12 sub-banner  add-info2">
        <%= image_tag("win.svg", width: "30%", alt: "Win", class: "img-responsive center-block") %>
        <h3 class="text-center">What do you gain?</h3>
        <p>We are opening a door of experiences you've thought to be impossible before!<br>
        <br>
        Wanted to be a soldier? You can be! For a day! Wanna try your hand at governing a country? Well that's possible now, too!</p>
      </div>
      <div class="col-xs-12 sub-banner add-info3">
        <%= image_tag("balance.svg", width: "30%", alt: "Scale", class: "img-responsive center-block") %>
        <h3 class="text-center">What makes us different?</h3>
        <p>We don't care about qualifications and ramifications!<br>
        <br>
        Do what you want when you wanna do it. Fly a plane full of passengers without going through the hassle of acquiring a license!</p>
      </div>
    </div>
  </div>
</div>
