<div class="wrapper info-banner footer-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 add-info">
        <div class="whatwedo text-center">
          <%= image_tag("group.svg", width: "10%", alt: "group", class: "img-responsive center-block") %>
          <h2>The Team</h2>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row hidden-xs">
      <div class="col-xs-12 col-md-3 add-info">
        <%= image_tag("zuza.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Zuza</h3>
        <p class="team-description">Teamleader and Coding-prodigy</p>
      </div>
      <div class="col-xs-12 col-md-3 add-info2">
        <%= image_tag("fabian.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Fabian</h3>
        <p class="team-description">Business-Genius and Flexboxer</p>
      </div>
      <div class="col-xs-12 col-md-3 add-info3">
        <%= image_tag("ileana.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Ileana</h3>
        <p class="team-description">Jewelry-Consultant and Leader of Organization</p>
      </div>
      <div class="col-xs-12 col-md-3 add-info4">
        <%= image_tag("julian.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Julian</h3>
        <p class="team-description">Chief Design Officer and Snuff Tobacco Minister</p>
      </div>
    </div>
    <!-- mobile -->
    <div class="row hidden-sm hidden-md hidden-lg text-center">
      <div class="col-xs-12 sub-banner">
        <%= image_tag("zuza.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Zuza</h3>
        <p>Teamleader and Coding-prodigy</p>
      </div>
      <div class="col-xs-12 sub-banner">
        <%= image_tag("fabian.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Fabian</h3>
        <p>Business-Genius and Flexboxer</p>
      </div>
      <div class="col-xs-12 sub-banner">
        <%= image_tag("ileana.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Ileana</h3>
        <p>Jewelry-Consultant and Leader of Organization</p>
      </div>
      <div class="col-xs-12 sub-banner">
        <%= image_tag("julian.gif", width: "80%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Julian</h3>
        <p>Chief Design Officer and Snuff Tobacco Minister</p>
      </div>
    </div>

  </div>
</div>
