<div class="wrapper banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://3.bp.blogspot.com/-eoATvZkAiAg/VZaqEI1nLzI/AAAAAAAACXg/140hoGl5Sw8/s1600/confused%2B%25281%2529.jpg');">
  <div class="container">
    <div class="row">
      <div class="call-to-action text-center hidden-xs hidden-sm">
        <h1>Try any job you'd like!</h1>
      
        <h2>Step in the shoes of a <strong id="banner-typed-text"></strong> for one day.</h2>
      </div>
      <div class="call-to-action text-center hidden-md hidden-lg">
        <h1 style="font-size: 36px; margin-top: 50px;">Try any job you'd like!</h1>
        <h2>Step in the shoes of a pilot, a therapist or a clown for one day.</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
        <%= form_tag(jobs_path, method: :get) do %>
          <div class="form-inline flex-form searchbox">
            <%= text_field_tag :query, params[:query], placeholder: "What job are you looking for?", class:"form-control flex-stretch input-field" %>
            <%= submit_tag 'Search', name: nil, class:"btn search-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper banner sub-banner">
  <div class="container">
    <div class="row">
      <div class="whatwedo text-center">
        <h2>Tired of working the same old job?</h2>

      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-12 col-md-4 add-info">
        <%= image_tag("connection.svg", width: "30%", alt: "Connection", class: "img-responsive center-block") %>
        <h3 class="text-center">What do we do?</h3>
        <p>We provide you with a user-generated database of available jobs you can try out!<br>
        <br>
        A lot of experiences and opportunities await! You could even list your own job if you don't feel like working a specific date.</p>
      </div>
      <div class="col-xs-12 col-md-4 add-info2">
        <%= image_tag("win.svg", width: "30%", alt: "Win", class: "img-responsive center-block") %>
        <h3 class="text-center">What do you gain?</h3>
        <p>We are opening a door of experiences you've thought to be impossible before!<br>
        <br>
        Wanted to be a soldier? You can be! For a day! Wanna try your hand at governing a country? Well that's possible now, too!</p>
      </div>
      <div class="col-xs-12 col-md-4 add-info3">
        <%= image_tag("balance.svg", width: "30%", alt: "Scale", class: "img-responsive center-block") %>
        <h3 class="text-center">What makes us different?</h3>
        <p>We don't care about qualifications and ramifications!<br>
        <br>
        Do what you want when you wanna do it. Fly a plane full of passengers without going through the hassle of acquiring a license!</p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper banner footer-banner">
  <div class="container">
    <div class="row">
      <div class="whatwedo text-center">
        <%= image_tag("group.svg", width: "20%", alt: "group", class: "img-responsive center-block") %>
        <h2>The Team</h2>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-12 col-md-3 add-info">
        <%= image_tag("zuza.gif", width: "100%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Zuza</h3>
        <p>Teamleader and Coding-prodigy</p>
      </div>
      <div class="col-xs-12 col-md-3 add-info2">
        <%= image_tag("fabian.gif", width: "100%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Fabian</h3>
        <p>Business-Genius and Flexboxer</p>
      </div>
      <div class="col-xs-12 col-md-3 add-info3">
        <%= image_tag("ileana.gif", width: "100%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Ileana</h3>
        <p>Jewelry-Consultant and Leader of Organization</p>
      </div>
      <div class="col-xs-12 col-md-3 add-info4">
        <%= image_tag("julian.gif", width: "100%", alt: "Name", class: "img-responsive center-block avatar-front") %>
        <h3 class="text-center">Julian</h3>
        <p>Chief Design Officer and Snuff Tobacco Minister</p>
      </div>
    </div>
  </div>
</div>

<script>
    ScrollReveal().reveal('.add-info', { delay: 600, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.add-info2', { delay: 900, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.add-info3', { delay: 1200, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.add-info4', { delay: 1500, origin: 'bottom', distance: '50px', easing: 'ease-in' });
</script>
