<% @title="Review the job!" %>

<div class="container" style="margin-top: 100px;">
  <h1 class="centered-title"><%= @job.title %></h1>
  <p class="centered-title">(<%= @job.date %>)</p>
  <br>
  <div class="job-book">
    <h4 class="centered-title">Leave a review to tell others if the experience was worth it!</h4>
    <div class="spacer"> </div>

      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for [@job, @review],  method: :post do |f| %>
        <%= f.input :title, label: "Review headline" %>
        <%= f.input :message, label: "Review the Job" %>
        <%= f.input :rating, label: "Rate your experience", collection: [1, 2, 3, 4, 5] %>
        <%= f.submit "Send your Review!", class: "btn btn-danger btn-job-book" %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="spacer">
</div>
