<% @title="Review the job!" %>

<div class="container" style="margin-top: 100px;">
  <h2><%= @job.title %></h2>
  <p>(<%= @job.date %>)</p>
  <br>
  <div class="job-book">
    <h4>Leave a review to tell others if the experience was worth it!</h4>
        <%= simple_form_for [@job, @review],  method: :post do |f| %>
        <%= f.input :title, label: "Review headline" %>
        <%= f.input :message, label: "Review the Job" %>
        <%= f.input :rating, label: "Rate your experience", collection: [1, 2, 3, 4, 5] %>
        <%= f.submit "Send your Review!", class: "btn btn-danger btn-job-book" %>
      <% end %>
    <div class="spacer">
    </div>
  </div>
</div>
